<carousel>
    <slide>
        <img src = "assets/carturesti2.jpg" alt = "first slide" style = "display: block; width: 100%;">
    </slide>
    <slide>
        <img src = "assets/carturesti1.jpg" alt = "second slide" style = "display: block; width: 100%;">
    </slide>
    <slide>
        <img src = "assets/carturesti.jpg" alt = "third slide" style = "display: block; width: 100%;">
    </slide>
    </carousel>

    <section class="featured">
        <div class="d-flex justify-content-center pt-4" style="color: rgb(64, 15, 68);">
            <h1>Welcome to the BookStore</h1>
        </div>

    </section>