<nav class="navbar navbar-expand-lg navbar-light justify-content-between ">
    <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgb(255, 255, 255);">BookStore</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <nav class="collapse navbar-collapse " style="font-size: larger;" id="navbarSupportedContent">
     
        
          <a class="nav-link ml-5 text-light " >Home <span class="sr-only" >(current)</span></a>
          <a class="nav-link ml-1 text-light " >Shop <span class="sr-only" >(current)</span></a>
          <a class="nav-link ml-1 text-light " >Contact <span class="sr-only" >(current)</span></a>

        
 
    </nav>
  

    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-light"></i>
            <div class="cart-no">5</div>
        </a>  
        <a class="btn btn-outline-dark  mr-2 text-light">Login</a>
        <a class="btn btn-outline-dark mr-3 text-light">Sign up</a>

    </div>

  </nav>